* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: sans-serif;
  outline: none;
}

:root {
  /* ? BG Colors */
  --bg-dark-grey: #0f0f0f;
  --bg-light-grey: hsla(0, 0%, 100%, 0.08);
  --bg-hover-light-grey: rgba(97, 97, 97, 0.8);
  --bg-red: #e1002d;

  /* ? BD Colors */
  --bd-light-grey: hsl(0, 0%, 18.82%);

  /* ? Text Colors */
  --text-light-grey: #aaa;
  --text-white: #f1f1f1;

  --focus-blue: #1c62b9;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--bg-dark-grey);
}

/* ! ********************* Navbar Started ********************* */

/* * Nav Left */

.section-nav {
  /*border: 1px solid var(--text-white);*/

  width: 100%;
  height: 56px;

  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 0px 8px;
}

.nav-left {
  /*border: 1px solid var(--text-white);*/

  width: 169px;
  height: 100%;

  display: flex;
  align-items: center;
}

.nav-left i {
  /*border: 1px solid var(--text-white);*/
  color: var(--text-white);

  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
}

.nav-left i:hover {
  background-color: var(--bg-hover-light-grey);
}

.nav-left svg {
  /*border: 1px solid var(--text-white);*/

  margin-left: 22px;
  cursor: pointer;
}

.nav-country {
  /*border: 1px solid var(--text-white);*/
  color: var(--text-light-grey);

  height: 100%;
  padding: 8px 0px 0px 2px;

  font-size: 10px;
  cursor: pointer;
}

/* * Nav Mid */

.nav-mid {
  /*border: 1px solid var(--text-white);*/

  height: 38px;
  width: 50%;

  display: flex;
  align-items: center;
  justify-content: end;
}

.search-main {
  /*border: 1px solid var(--text-white);*/

  height: 38px;
  width: 70%;

  display: flex;
  align-items: center;
  justify-content: end;

  /* margin: 0 0 0 40px; */
}

.search-main > input {
  border: 1px solid var(--bd-light-grey);
  color: var(--text-light-grey);
  background-color: var(--bg-dark-grey);

  height: 100%;
  width: 80%;

  display: none;

  border-radius: 40px 0 0 40px;
  padding: 0 4px 0 16px;
  margin-left: 32px;
  font-size: 1rem;
}

.search-main input:focus {
  border-color: var(--focus-blue);
}

.search-main i {
  /* border: 1px solid var(--text-white); */
  color: var(--text-white);

  height: 40px;
  width: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 40px;
  font-size: 18px;
  cursor: pointer;
}

.search-main i:hover {
  background-color: var(--bg-light-grey);
}

.nav-mid > i {
  /*border: 1px solid var(--text-white);*/
  color: var(--text-white);

  height: 36px;
  width: 36px;

  display: none;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  margin-left: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.nav-mid > i:hover {
  background-color: var(--bg-hover-light-grey);
}

/* * Nav Right */

.nav-right {
  /*border: 1px solid var(--text-white);*/

  height: 40px;
  width: 180px;

  display: flex;
  align-items: center;
  justify-content: end;
}

.button-div {
  /* border: 1px solid var(--text-white); */
  background-color: var(--bg-light-grey);
  color: var(--text-white);

  width: 100px;
  height: 35px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 30px;
  margin: 0 8px 0 8px;
  font-size: 15px;
  gap: 3px;
  cursor: pointer;
}

.button-div:hover {
  background-color: var(--bg-hover-light-grey);
}

.button-div i {
  /* border: 1px solid var(--text-white); */
  font-size: 18px;
}

.nav-right > i {
  /*border: 1px solid var(--text-white);*/
  color: var(--text-white);

  width: 40px;
  height: 40px;

  display: none;
  align-items: center;
  justify-content: center;
  position: relative;

  font-size: 18px;
  border-radius: 50%;
  margin-right: 8px;
  cursor: pointer;
}

.nav-right > i:hover {
  background-color: var(--bg-hover-light-grey);
}

.nav-right > i > p {
  background-color: var(--bg-red);
  border: 1px solid var(--bg-dark-grey);

  position: absolute;
  top: 0px;
  left: 18px;

  font-size: 12px;
  padding: 2px 4px;
  border-radius: 10px;
}

.profile-div {
  /*border: 1px solid var(--text-white);*/

  width: 48px;
  height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.profile-div img {
  /*border: 1px solid var(--text-white);*/

  width: 32px;
  height: 32px;
}

/* ! ********************* Navbar Ended ********************* */

/* ! ********************* Main Section Started ********************* */

.section-main {
  border: 1px solid var(--bg-red);
  width: 100%;
  height: calc(100vh - 56px);

  display: flex;
}

/* ! ********************* Main Section Ended ********************* */

/* ! ********************* Sidebar Started ********************* */

aside {
  /* border: 1px solid var(--text-white); */

  width: 16%;
  height: 100%;

  overflow-y: auto;
  display: none;
  flex-direction: column;
  padding: 10px;
  gap: 15px;
}

.content-main {
  /* border: 1px solid white; */
  border-bottom: 1px solid var(--bd-light-grey);
  width: 100%;
  height: 150px;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;

  list-style: none;
}

.content-main li {
  /* border: 1px solid white; */
  color: white;

  width: 100%;

  display: flex;
  align-items: center;
  gap: 10px;

  padding: 8px 10px;
  border-radius: 8px;
  cursor: pointer;
}

.content-main li:hover {
  background-color: var(--bg-light-grey);
}

.content-item-icon {
  /* border: 1px solid white; */

  font-size: 20px;
}

.content-item-text {
  /* border: 1px solid white; */

  font-size: 14px;
  font-weight: 100;
}

/* ! ********************* Sidebar Ended ********************* */

/* ! ********************* Videos Section Started ********************* */

.main-videos {
  /* border: 1px solid var(--bg-red); */
  width: 84%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1.5fr repeat(8, 1fr);

  overflow-y: auto;
}

.video-main {
  /* border: 1px solid var(--text-white); */
  width: 100%;
  height: 100%;

  padding: 20px;
}

.video-card {
  /*border: 1px solid var(--bg-red);*/
  width: 100%;
  aspect-ratio: 16/9;

  position: relative;

  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
}

.video-card > img,
.video-card > iframe {
  width: 100%;
  height: 100%;

  position: absolute;

  object-fit: contain;
  transition: opacity 0.3s ease-in;
}

.video-card > iframe {
  opacity: 0;
  z-index: 0;
  pointer-events: none;
}

.video-card:hover > iframe {
  opacity: 1;
  z-index: 1;
  pointer-events: auto;
}

.video-card:hover img {
  opacity: 1;
  z-index: 0;
}

.video-details--main {
  /* border: 1px solid var(--bg-red); */
  width: 100%;

  display: flex;

  margin-top: 10px;
}

.video-channel--img {
  /*border: 1px solid var(--bg-red);*/
  width: 10%;
  height: 100%;

  display: flex;
}

.video-channel--img img {
  /*border: 1px solid var(--bg-red);*/
  width: 100%;

  object-fit: cover;
  border-radius: 50%;
}

.video-details--div {
  /*border: 1px solid var(--bg-red);*/
  width: 80%;
  height: 100%;

  display: flex;
  flex-direction: column;

  min-width: 0;

  padding-left: 10px;
}

.video-title {
  /*border: 1px solid var(--bg-red);*/
  color: var(--text-white);

  font-size: 16px;
  font-weight: 200;

  overflow: hidden;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.video-channel--name {
  /*border: 1px solid var(--bg-red);*/
  color: var(--text-light-grey);

  font-size: 14px;
}

.video-analytics {
  /*border: 1px solid var(--bg-red);*/
  color: var(--text-light-grey);

  font-size: 14px;
}

.video-options--div {
  /*border: 1px solid var(--bg-red);*/
  width: 15%;
  height: 100%;

  display: flex;
  align-items: start;
  justify-content: center;
}

.video-options--div i {
  /*border: 1px solid var(--bg-red);*/
  color: var(--text-white);

  width: 35px;
  height: 35px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  cursor: pointer;
}

.video-options--div i:hover {
  background-color: var(--bg-hover-light-grey);
}

/* ************** Shorts ************** */
.shorts {
  /* border: 1px solid green; */

  width: 100%;
  height: 500px;

  grid-column: 1/2;
  grid-row: 2/3;

  display: flex;
  align-items: start;
  justify-content: space-around;
  flex-direction: column;
}

.shorts h2 {
  /* border: 1px solid red; */

  height: 40px;

  display: flex;
}

.shorts h2 svg {
  /* border: 1px solid red; */

  width: 40px;
  margin-left: 20px;
}

.shorts h2 span {
  /* border: 1px solid red; */
  color: white;

  margin-left: 5px;
}

.shorts-main {
  /* border: 1px solid green; */

  width: 100%;
  height: 90%;

  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 10px 0px;
}

.short-div {
  /* border: 1px solid red; */

  width: 45%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  overflow: hidden;
}

.short-div iframe {
  width: 100%;
  height: 90%;

  border-radius: 8px;
}

.short-details {
  /* border: 1px solid red; */

  width: 100%;
  padding: 5px 0px;
}

.short-details h3 {
  /* border: 1px solid red; */
  color: var(--text-white);

  font-size: 16px;
  font-weight: 400;

  overflow: hidden;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.short-details p {
  /* border: 1px solid red; */
  color: var(--text-light-grey);

  font-size: 12px;
}

.item-3,
.item-4,
.item-5 {
  display: none;
}

/* ! ********************* Videos Section Ended ********************* */

@media (width >= 640px) {
  .search-main input {
    display: flex;
  }

  .search-main i {
    border: 1px solid var(--bd-light-grey);
    background-color: var(--bg-light-grey);

    height: 38px;
    width: 62px;

    border-radius: 0px 40px 40px 0px;
  }

  .search-main i:hover {
    background-color: var(--bg-light-grey);
  }

  .nav-mid > i {
    display: flex;
    background-color: var(--bg-light-grey);
  }

  .nav-right {
    width: 225px;
  }

  .nav-right > i {
    display: flex;
  }
}

@media (width >= 768px) {
  .section-nav {
    justify-content: space-between;
  }

  .main-videos {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1.3fr repeat(4, 1fr);
  }

  .shorts {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .short-div {
    width: 30%;
  }

  .item-3 {
    display: flex;
  }

  aside {
    display: flex;
  }
}

@media (width >= 1024px) {
  .main-videos {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1.3fr repeat(2, 1fr);
  }

  .shorts {
    grid-column: 1/4;
    grid-row: 2/3;
  }

  .short-div {
    width: 18%;
  }
  .item-4,
  .item-5 {
    display: flex;
  }
}
